Unit]
Description=3D printer firmware with motion planning on the host
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=klipper
RemainAfterExit=no
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=10
ExecStart=/usr/libexec/klipper/klippy /etc/klipper/printer.cfg \
  --api-server=/run/klipper/klipper.sock \
  --logfile=/var/log/klipper/klipper.log
