[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/zxcpp
Name="ZXCPP"
GenericName="ZX Emulator"
Icon=/usr/share/icons/hicolor/scalable/apps/zx.svg
Categories=Emulator
